html {
	scroll-behavior: smooth;
}

body {

    margin: 0;
    background-color: rgb(255, 255, 255)
}

a:link {

    color: rgb(255, 255, 255);
}

a:hover {

    color: rgb(82, 157, 255);

}

.historia {

    background: rgb(182, 211, 255);

}
